*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}
h2{
  z-index:10;
}
textarea{
  resize: none;
}
.border-quintas-green{
  border: 2px solid #78BA52;
}
.input-focus-border-color,
.border-quintas-dark-gray{
  border: 2px solid #3A3B3B;
}
.background-image{
  position:absolute;
  top:0;
  z-index: 0;
}
.image-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container .img-fluid{
  object-fit: cover;
}
.vh-75{
  height: 75vh;
}
.leaflet-container{
  width: 50vw;
  height: 50vh;
}
.text-quintas-green{
  color: #78BA52;
}
.bg-quintas-green{
  background-color: #78BA52;
}
.bg-quintas-gray{
  background-color: #6B6E6F;
}
.bg-quintas-dark-gray{
  background-color: #3A3B3B;
}
header i{
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.navbar{
  position:absolute;
  top:-1200%;
  left: 0;
  transition: top 0.3s ease-in-out;
}
.z-index-150{
  z-index: 150;
}
.show{
  top:0;
  transition: top 0.3s ease-in-out;
  z-index: 100;
}

/*! ########################################*/
/*! ################ LAPTOPS ###############*/
/*! ########################################*/
@media (min-width: 760px) {
  .navbar{
    position:relative;
  }
}

/*! ########################################*/
/*! ############ LARGER DESKTOPS ###########*/
/*! ########################################*/
@media (min-width: 1280px) {

}