/*! #######################################*/
/*! ############### MOBILE ###############*/
/*! #######################################*/

/** #### Estilos generales #### */
*{
    box-sizing: border-box;
}
body {
    font-family: Lexend;
    font-size: 12px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


/*! ########################################*/
/*! ##### TABLETS & LARGER SMARTPHONES #####*/
/*! ########################################*/
@media (min-width: 481px) {



}


/*! ########################################*/
/*! ################ LAPTOPS ###############*/
/*! ########################################*/
@media (min-width: 769px) {




}

/*! ########################################*/
/*! ############ LARGER DESKTOPS ###########*/
/*! ########################################*/
@media (min-width: 1280px) {


}