/*! #######################################*/
/*! ############### MOBILE ###############*/
/*! #######################################*/

/** #### Estilos generales #### */
*{
    box-sizing: border-box;
}
.border-radius-none{
    border-radius: 0 !important;
}
.bg-white-transparent{
    background-color: rgb(255 255 255 / 88%);
}
.bg-transparent{
    background-color: #f0f0f000 !important;
}
.border-gray{
    border: 1px solid #ccc;
}

.whatsappButton{
    background-color: #00bb2d;
    z-index: 1000;
    bottom: 2%;
    right: 2%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0;
}
.whatsappButton a{
    font-size: 35px;
    text-align: center;
    padding: 0;
    margin: 0;
}

/*! ########################################*/
/*! ##### TABLETS & LARGER SMARTPHONES #####*/
/*! ########################################*/
@media (min-width: 481px) {



}


/*! ########################################*/
/*! ################ LAPTOPS ###############*/
/*! ########################################*/
@media (min-width: 769px) {


    .whatsappButton{
        bottom: 1%;
        right: 1%;
        height: 50px;
        width: 50px;
    }
    .whatsappButton:hover{
        background-color: #038b23;
    }
    .whatsappButton a{
        font-size: 25px;
    }

}

/*! ########################################*/
/*! ############ LARGER DESKTOPS ###########*/
/*! ########################################*/
@media (min-width: 1280px) {

    .whatsappButton{
        bottom: 2%;
        right: 2%;
        height: 55px;
        width: 55px;
    }
    .whatsappButton a{
        font-size: 30px;
    }
}