/*! #######################################*/
/*! ############### MOBILE ###############*/
/*! #######################################*/

/** #### Estilos generales #### */
.rango{
    background: 'linear-gradient(to right, #ccc 0%, #ccc ' + porcentaje + '%, #fff ' + porcentaje + '%, white 100%)',
}
.formButton{
    max-height: 50px;
}
.location{
    max-height: 120px;
}
.perimeter{
    max-height: 170px;
}

.coordinateInput {
    width: 45%;
}


/*! ########################################*/
/*! ##### TABLETS & LARGER SMARTPHONES #####*/
/*! ########################################*/
@media (min-width: 481px) {



}


/*! ########################################*/
/*! ################ LAPTOPS ###############*/
/*! ########################################*/
@media (min-width: 769px) {




}

/*! ########################################*/
/*! ############ LARGER DESKTOPS ###########*/
/*! ########################################*/
@media (min-width: 1280px) {


}